    <div class="box">
        <h1>CONTEUDO</h1>
        <p>
            {{documento}}
        </p>
    </div>


{{!-- <div id="caixa">
    <div class="blocks1">
        <h1 class="display-6">Meus Modelos</h1
        <div class="filterss">
            <p>filters</p>
        </div>
    </div>
    <div class="modeloss">
        <p>modelos</p>
    </div>
    <a href="/" class="btn btn-dark">Novo Modelo</a>
</div> --}}
