
    <h1 class="display-3 text-center">Modelos</h1>
<div class="d-flex justify-content-between">
      <div class="card" style="width: 11rem;">
        <img src="/assets/modelo1.png" class="img1" alt="modelo1">
        <div class="card-body">
          <a href="./modelo1.html" class="btn btn-dark text-center">1</a>
        </div>
      </div>
      <div class="card" style="width: 11rem;">
        <img src="/assets/modelo2.png" class="img2" alt="modelo2">
        <div class="card-body">
          <a href="./modelo2.html" class="btn btn-dark text-center">2</a>
        </div>
      </div>
      <div class="card" style="width: 11rem;">
        <img src="/assets/modelo3.png" class="img3" alt="modelo3">
        <div class="card-body">
          <a href="./modelo3.html" class="btn btn-dark">3</a>
        </div>
</div>  

